@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
.div-background
{

  background: url('../public/assets/bg_login_signup/login.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-login-font
{
  font-family: 'Poppins', sans-serif;
}

.form-fonts
{
  font-family: 'Cabin', sans-serif;
}

.upload-bg
{
  background-image: url('../public/assets/upload_image/upload.png');
}

.btn-color
{
  background-color: #1345B7;
  border: 1px solid #1345B7;
}

.dashtxt
{
  color: black;
  display: none;
}
.dashImg:hover + .dashtxt
{
 
 display: block;
}

.executive-background
{
  background-image: url('../public//assets/executive/sideImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.executive-bg
{
 background: white;
 border:1px solid black;
 box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 0.2);
}

.primary-navigation {
  margin: 0 auto;
  display: block;

  /* padding: 120px 0 0 0; */
  text-align: center;
  font-size: 16px;
}

